[Unit]
Description=Plex in Podman                                                                            
Documentation=man:podman-generate-systemd(1)                                                                          
Wants=network-online.target                                                                                           
After=network-online.target                                                                                           

[Service]
Restart=on-failure
TimeoutStopSec=70
User=plex
Group=plex
ExecStart=/usr/bin/podman run \
  --name=plex \
  --log-level=error \
  --publish 32400:32400 \
  --sdnotify=conmon \
  -e TZ=Europe/Berlin \
  --volume /srv/video/TV:/media/tv:ro \
  --volume /srv/video/Film:/media/film:ro \
  --volume /srv/audio/audiobooks/:/media/audiobooks:ro \
  --volume /srv/photos/:/media/photos:ro \
  --volume /var/lib/plex/data:/data \
   -e PLEX_CLAIM="claim-Aifrk1Ld1bqUBJC3fzQF" \
  --volume /var/lib/plex/database:/config \
  --volume /var/tmp/plex/transocde:/transcode \
  docker.io/plexinc/pms-docker
ExecStop=/usr/bin/podman stop -t 10 plex
ExecStopPost=-/usr/bin/podman rm --ignore -f plex

[Install]
WantedBy=default.target

# for claiming  (https://www.plex.tv/claim/)
#  -e PLEX_CLAIM="claim-zzzzzzzzzzzzzzzzzz" \

#  --mount=type=bind,\"src=/run/user/7300/gvfs/smb-share:server=srvr.company.com,share=datafldr\",target=/datatargetfldr \
#  --volume \"/srv/video/Plex Versions\":\"/media/tv/Plex Versions\":rw \
#   --volume "/srv/video/Plex Versions:/media/tv/Plex\040Versions":rw \
