<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body,
        html {
            height: 100vh;
            margin: 0;
        }

        .bgimg-1 {
            position: relative;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("http://ha.imagilan/random_picture/");
            height: 100%;
        }
    </style>
</head>

<body>

    <div class="bgimg-1">
    </div>

</body>

</html>